.signUp{
    background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjEwNzItMDM3LWMta3ZoaDA4bXAuanBn.jpg");
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: #ffd6adb8;
    padding: 30px;
    border: 1px solid rgb(129, 121, 121);
    border-radius: 1px;

}
.signUpLogo{
    width: 200px;
    object-fit: contain;
    padding: 10px 0px;
}

.loginPara{
    line-height: 20px;
    margin: 0px 40px 20px 40px;
}

input{
    padding: 5px;
    margin: 3px 0px;
    outline: none;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.form > div{
    width: 80%;
    margin: auto;
}

#submit-btn{
    background-color: #1773EA;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    width: 80%;
    cursor: pointer;
    margin-top: 8px;
}

.form2{
    /* background-color: #fff; */
    background-color: #ffd6adb8;
    padding: 2px;
    margin-top: 2px;
    border: 1px solid rgb(129, 121, 121);
    border-radius: 1px;
    display: flex;
    flex-direction: row;
}

/* ------------------------------------------------------------------------------------------------------------------------- */

/* Css for font */

p.loginPara {
    color: black;
}

.dropdowns{
    padding: 5px;
    margin: 3px 0px;
    outline: none;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.mainInputs{
    border-radius: 14px;
    background-color: #94b1ff42;
}

input#submit-btn {
    background-color: #7373ff;
    border-radius: 11px;
}

.appName {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 0px;
    color: #4f4ff5;
    font-size: 60px;
}

.headPara{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    margin: 0px 40px 20px 40px;
    font-size: 30px;
}

.form{
    padding-bottom: 50px;
}

#bio{
    width: 95%;
    border: 1px solid black;
    height: 50px;
}